In [5]:
import pandas as pd
import numpy as np
#из библиотеки sklearn импортируем модуль LinearRegression (линейная регрессия)
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score
from IPython.display import display, Math, Latex
#import warnings
#warnings.filterwarnings('ignore')

In [13]:
#Загружаем данные
df = pd.read_csv("insurance (2).csv")
# выводим первые 5 строк
df.head()

   Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0    1     41.0   49600.0            1                  0
1    0     46.0   38000.0            1                  1
2    0     29.0   21000.0            0                  0
3    0     21.0   41700.0            2                  0
4    1     28.0   26100.0            0                  0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Пол                5000 non-null   int64
 1   Возраст            5000 non-null   float64
 2   Зарплата           5000 non-null   float64
 3   Члены семьи        5000 non-null   int64
 4   Страховые выплаты  5000 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

In [12]:
#выводим статистику по данному дата фрейму
df.describe()

               Пол      Возраст      Зарплата  Члены семьи  Страховые выплаты
count  5000.000000  5000.000000   5000.000000  5000.000000        5000.000000
mean      0.499000    30.952800  39916.360000     1.194200           0.148000
std       0.500049     8.440807   9900.083569     1.091387           0.463183
min       0.000000    18.000000   5300.000000     0.000000           0.000000
25%       0.000000    24.000000  33300.000000     0.000000           0.000000
50%       0.000000    30.000000  40200.000000     1.000000           0.000000
75%       1.000000    37.000000  46600.000000     2.000000           0.000000
max       1.000000    65.000000  79000.000000     6.000000           5.000000

In [34]:
#Переименуем столбцы Члены семьи и Страховые выплаты, чтобы не было пробела
df.rename(columns={'Члены семьи': 'Члены_семьи', 
                     'Страховые выплаты': 'Страховые_выплаты'}, inplace=True)

In [38]:
#преобразуем в целые столбцы 'Возраст', 'Члены_семьи', 'Страховые_выплаты'
to_int = ['Возраст', 'Члены_семьи', 'Страховые_выплаты']
df[to_int] = df[to_int].astype('int')

In [40]:
def show_rows(DF):
    for column in DF.columns:
        print('Уникальные значения столбца', column)
        print(DF[column].unique())
    print('Количество пропусков в каждом столбце')    
    print(DF.isna().mean())
show_rows(df)

Уникальные значения столбца Пол
[1 0]
Уникальные значения столбца Возраст
[41 46 29 21 28 43 39 25 36 32 38 23 40 34 26 42 27 33 47 30 19 31 22 20
 24 18 37 48 45 44 52 49 35 56 65 55 57 54 50 53 51 58 59 60 61 62]
Уникальные значения столбца Зарплата
[49600. 38000. 21000. 41700. 26100. 41000. 39700. 38600. 49700. 51700.
 36600. 29300. 39500. 55000. 43700. 23300. 48900. 33200. 36900. 43500.
 36100. 26600. 48700. 40400. 38400. 34600. 34800. 36800. 42200. 46300.
 30300. 51000. 28100. 64800. 30400. 45300. 38300. 49500. 19400. 40200.
 31700. 69200. 33100. 31600. 34500. 38700. 39600. 42400. 34900. 30500.
 24200. 49900. 14300. 47000. 44800. 43800. 42700. 35400. 57200. 29600.
 37400. 48100. 33700. 61800. 39400. 15600. 52600. 37600. 52500. 32700.
 51600. 60900. 41800. 47400. 26500. 45900. 35700. 34300. 26700. 25700.
 33300. 31100. 31500. 42100. 37300. 42500. 27300. 46800. 33500. 44300.
 41600. 53900. 40100. 44600. 45000. 32000. 38200. 33000. 38500. 51800.
 33800. 46400. 43200. 31800. 50200. 35100. 30700. 45800. 49300. 42800.
 33600. 50300. 34000. 36400. 44900. 43600. 54600. 52800. 29700. 39000.
 44100. 31900. 37700. 35200. 43100. 51300. 47500. 40800. 26800. 64900.
 35900. 31200. 39900. 43300. 33900. 40700. 44700. 53400. 30600. 56000.
 35600. 55200. 40600. 48300. 50800. 41200. 44200. 44400. 40500. 39800.
 16600. 48400. 25100. 23100. 32100. 31000. 42900. 46700. 26000. 55900.
 52000. 41500. 49400. 60300. 45600. 49000. 37500. 21900. 45100. 47900.
 54300. 32400. 41300. 44500. 23200. 37900. 48000. 52100. 45700. 29900.
 42600. 45200. 36000. 46500. 23800. 30200. 24400. 32800. 29000. 43400.
 51500. 61700. 45400. 50700. 36200. 41900. 27900. 47200. 48800. 55100.
 48200. 35500. 35000. 43900. 40000. 22000. 40300. 36300. 49800. 25600.
 42300. 54900. 25500. 32900. 36700. 38900. 24700. 28800. 22900. 47300.
 14500. 28700. 44000. 34100. 53000. 59300. 28500. 47100. 41400. 58900.
 17500. 54200. 43000. 29800. 20000. 13800. 27500. 67700. 28000. 37100.
  8900. 14600. 56200. 38800. 27700. 50500. 58400. 34700. 34400. 49100.
 50900. 28200. 61500. 32500. 25900.  9800. 28300. 41100. 62000. 32600.
 37200. 53800. 24000. 53600. 54800. 59600. 20200. 21700. 29200. 38100.
 20700. 32300. 21200. 62100. 54000. 24500. 51900. 47800. 56100. 55300.
 58100. 28900. 39100. 58000. 27200. 24600. 30100. 57100. 60100. 22200.
 47700. 24900. 37800. 52700. 34200. 18700. 42000. 26300. 22600. 30900.
 35800. 30800. 51100. 53300. 46200. 24100. 54700. 51200. 62300. 51400.
 40900. 23400. 35300. 55800. 33400. 21300. 30000. 56700. 46900.  5300.
 39200. 57500. 31300. 53700. 21600. 50000. 36500. 16400. 15900. 65100.
 59900. 63200. 26200. 61200. 48500. 32200. 29100. 50100. 22700. 28600.
 23500. 23700. 19600. 17800. 50600. 57900. 22500. 22100. 58300. 64100.
 25000. 60400. 59100. 37000. 62400. 29500. 25800. 25400. 26900. 21500.
 52200. 46600. 57300. 46100. 19300. 18900. 31400. 28400. 29400. 17600.
 13900. 52400. 11300. 46000. 60500. 58700. 58200. 24800. 63700. 60600.
 20400. 26400. 55600. 57000. 45500. 48600. 57600. 52900. 62800. 17000.
 56500. 52300. 18400. 63300. 12900. 27000. 55700. 39300. 27800. 18300.
 56300. 59800. 24300. 14400. 13400. 17900. 47600. 54500. 54400. 23900.
 13000. 19900. 55400. 22800. 61000. 57400. 23000. 20500. 53200. 18100.
 25300. 59500. 18200. 50400. 21100. 20900. 27400. 17300. 60700. 70600.
 17700. 19700. 49200. 63100. 59200. 14700. 53100. 21800. 68000. 16500.
 71400. 10000. 55500. 54100. 56400. 20600. 66300. 18800. 11000. 66100.
 27100. 57800. 53500. 19200. 58500. 64000. 63600. 23600. 25200. 19100.
 18600. 57700. 62700. 56600. 21400. 58800. 68400. 17100. 13300. 68500.
 56900. 64400. 27600. 67200. 16200. 58600. 62200. 16000. 79000. 22300.
 11200. 71600. 61300. 70500. 67100. 59000. 13500. 16700. 15700. 60000.
 17400. 63400. 61900. 65200. 62600. 14100. 20100. 63800. 15100. 70000.
 60200. 20300. 65900. 15200. 63500. 13200. 68900. 12200.  6000. 74800.
 59700. 10800. 19000. 10600. 69400. 15000. 75200. 62500. 16300. 20800.
  7400. 65300. 61400. 56800.]
Уникальные значения столбца Члены_семьи
[1 0 2 4 3 5 6]
Уникальные значения столбца Страховые_выплаты
[0 1 2 3 5 4]
Количество пропусков в каждом столбце
Пол                  0.0
Возраст              0.0
Зарплата             0.0
Члены_семьи          0.0
Страховые_выплаты    0.0
dtype: float64

In [18]:
#ЗАДАНИЕ 2

In [ ]:
#Признаки умножают на обратимую матрицу. Изменится ли качество линейной регрессии? (Её можно обучить заново.)
#a. Изменится. Приведите примеры матриц.
#b. Не изменится. Укажите, как связаны параметры линейной регрессии в исходной задаче и в преобразованной.

In [ ]:
# Cоздадим матрицу признаков X

In [ ]:
#так как обратная матрица от произведения транспонированной матрицы и созданной матрицы равна произведению обратной исходной 
#матрицы и обратной транспонированной матрицы, то будет справедливо следующее равенство:

$ X^{T}*X^{-1} = X^{-1}(X^{T})^{-1} $

In [15]:
# в то же время э

SyntaxError: invalid syntax (2232484088.py, line 1)

In [53]:
X = df.drop("Страховые_выплаты", axis=1)
Y= df["Страховые_выплаты"]

X.shape, Y.shape

((5000, 4), (5000,))

In [ ]:
features_train =
, features_test, target_train, target_test = train_test_split(features, target,
                                                                            test_size=0.4, random_state=12345)

In [58]:
#построим произвольную матрицу
MATRIX = np.random.rand(4,4)

In [59]:
#Вычисляем (мультипликативную) обратную матрицу.
np.linalg.inv(MATRIX)

array([[ 1.03347639,  1.47405065, -1.87077849, -0.50790678],
       [-1.219575  , -0.43291637,  0.38221174,  2.21610542],
       [-0.41416224,  0.34647202,  1.60606538, -0.79872279],
       [ 1.35701329, -1.01373932, -0.19360889, -0.29210008]])

In [60]:
# Создаем функцию, которая вычисляет линейную регрессию и коэффициент детерминации
def pr_r2_score(x, y):
    lr = LinearRegression()
    lr.fit(x, y)
    r2 = lr.score(x, y)
    return r2

In [61]:
# коэффициент детерминации для обычной матрицы признаков составляет примерно 0.42
pr_r2_score(X, y)

0.4249455028666801

In [62]:
# Вычислим коэффициент детерминации для матрицы X (матрица без столца "Страховые выплаты") умноженную на MATRIX
# MATRIX - произвольная матрица
X_matr = X @ MATRIX
pr_r2_score(X_matr, y)

0.42494550286667643

In [ ]:
# Так как коэффициент детерминации одинаков в случае если Признаки умножают на обратимую матрицу,то
# качество модели не изменится.

In [ ]:
# 3. Предложите алгоритм преобразования данных для решения задачи. Обоснуйте, почему качество линейной регрессии не поменяется.

In [ ]:
sklearn

In [ ]:
#4. Преобразуем матрицу и проверим детеминацию

In [76]:
#произведём деление данных модели обучающую и контрольную выборки
features_train, features_test, target_train, target_test = train_test_split(
    X, Y, test_size=0.3, random_state=500000)

In [75]:
model = LinearRegression()
model.fit(X, Y)
R2_LR_origin_data = r2_score(target_test, model.predict(features_test))
print("коэффициенты",model.coef_)
print("R2 =", R2_LR_origin_data)

коэффициенты [ 7.92580543e-03  3.57083050e-02 -1.70080492e-07 -1.35676623e-02]
R2 = 0.4347365823514814

In [74]:
predict_and_r2_score(X_new, y)

0.4249455028667637

In [81]:
regressor = LinearRegression()
scaller = StandardScaler()
pipeline = Pipeline([("standard_scaller", scaller),("linear_regression", regressor)])
pipeline.fit(features_train, target_train)
R2_LR_origin_data_scaled = r2_score(target_test, pipeline.predict(features_test))
print("R2 =", R2_LR_origin_data_scaled)

R2 = 0.4330729642197657

In [84]:
def cipher_features(X):
    crypted_features = X
    n = X.shape[1]
    np.random.seed(7072020)
    cipher_matrix = np.random.randint(1, 10, (n,n))
    det = np.linalg.det(cipher_matrix)
    while det == 0:
        np.random.seed(7072021)
        cipher_matrix = np.random.randint(1, 10, (n,n))
        det = np.linalg.det(cipher_matrix)
    crypted_features = crypted_features @ cipher_matrix
    return crypted_features, cipher_matrix

In [86]:
display(X.head())
features, cipher_matrix = cipher_features(X)
display(features.head())
cipher_matrix

   Пол  Возраст  Зарплата  Члены_семьи
0    1       41   49600.0            1
1    0       46   38000.0            1
2    0       29   21000.0            0
3    0       21   41700.0            2
4    1       28   26100.0            0

          0        1        2         3
0  397184.0  49981.0  99373.0  248097.0
1  304422.0  38421.0  76185.0  190101.0
2  168261.0  21261.0  42116.0  105058.0
3  333805.0  41903.0  83486.0  208560.0
4  209059.0  26357.0  52320.0  130562.0

array([[7, 5, 8, 6],
       [9, 9, 4, 2],
       [8, 1, 2, 5],
       [8, 7, 1, 9]])

In [88]:
features_train, features_test, target_train, target_test = train_test_split(
    X, Y, test_size=0.25, random_state=7072020)

In [89]:
model = LinearRegression()
model.fit(features_train, target_train)
R2_LR_cipher_data = r2_score(target_test, model.predict(features_test))
print("w-vector coef",model.coef_)
print("R2 =", R2_LR_cipher_data)

w-vector coef [ 1.97416051e-03  3.51823837e-02  3.34772368e-08 -1.34952026e-02]
R2 = 0.41841081512209366

In [90]:
regressor = LinearRegression()
scaller = StandardScaler()
pipeline = Pipeline([("standard_scaller", scaller),("linear_regression", regressor)])
pipeline.fit(features_train, target_train)
R2_LR_cipher_data_scaled = r2_score(target_test, pipeline.predict(features_test))
#print("w-vector coef",pipeline.coef_) при использовании pipeline невозможно получить коэффициенты регрессии
print("R2 =", R2_LR_cipher_data_scaled)

R2 = 0.41841081512208866

In [91]:
result = pd.DataFrame(data= [R2_LR_origin_data_scaled,
                      R2_LR_origin_data,
                      R2_LR_cipher_data,
                      R2_LR_cipher_data_scaled], 
                     columns=['R2'], 
                     index=['Линейная регрессия',
                            'Линейная регрессия c масштабом',
                            'Линейная регрессия на преобразованных признаках',
                            'Линейная регрессия на преобразованных признаках c масштабом',])
result

                                                          R2
Линейная регрессия                                  0.433073
Линейная регрессия c масштабом                      0.434737
Линейная регрессия на преобразованных признаках     0.418411
Линейная регрессия на преобразованных признаках...  0.418411